@use '../../styles/colors';

.Hero {
    color: colors.$white;
    margin-top: 60px;
    display: flex;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 42rem;
        gap: 1.5rem
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 600;
    }

    &__description {
        font-size: 2.25rem;
    }

    &__cta {
        display: flex;
        align-items: flex-end;
        font-size: 1.5rem;
        gap: .5rem;
        opacity: .5;
        transition: opacity .3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &__image {
        width: 280px;
        height: 280px;
        position: relative;

        transition: transform 0.3s ease-in-out; 

        &:hover {
            transform: translateY(-15px); 
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 1;

        &__row {
            display: flex;
            margin-top: -70px;

            & > img {
                margin: 0 -50px;
            }
        }
    }
}